h1{
    color:  #d80909 ;
}


.header{
    background-color: #04ff25 ;
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.description{
    text-align: center;   
}
body{
    background-color: #c5b364;
}
.grid{
    justify-content: space-evenly;
}